<!DOCTYPE html>
<html>
<head>
  <title>OnboardOnRails Admin</title>
  <%= stylesheet_link_tag "onboard_on_rails/admin", media: "all" %>
  <%= stylesheet_link_tag "onboard_on_rails/client", media: "all" %>
  <%= javascript_include_tag "onboard_on_rails/admin" %>
  <%= csrf_meta_tags %>
  <%= onboard_on_rails_meta_tags rescue nil %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <nav class="oor-admin-nav">
    <div class="oor-admin-nav__brand">
      <%= link_to t("onboard_on_rails.admin.nav.brand"), onboard_on_rails.admin_root_path, class: "oor-admin-nav__logo" %>
    </div>
    <div class="oor-admin-nav__links">
      <%= link_to t("onboard_on_rails.admin.nav.tours"), onboard_on_rails.admin_tours_path, class: "oor-admin-nav__link" %>
      <%= link_to t("onboard_on_rails.admin.nav.lessons"), onboard_on_rails.admin_lessons_path, class: "oor-admin-nav__link" %>
    </div>
  </nav>
  <main class="oor-admin-main">
    <% if flash[:notice] %>
      <div class="oor-admin-flash oor-admin-flash--notice"><%= flash[:notice] %></div>
    <% end %>
    <% if flash[:alert] %>
      <div class="oor-admin-flash oor-admin-flash--alert"><%= flash[:alert] %></div>
    <% end %>
    <%= yield %>
  </main>
  <%= javascript_include_tag "onboard_on_rails/client" %>
</body>
</html>
